body {
  margin: 0;
  padding: 0;
  font-family: "Courier Prime", "Courier New", "Roboto Mono", monospace;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
}

.controls-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
  width: 100%;
  flex: 1;
}

.rotate-left {
  transform: scaleX(-1);
}

/* Ensure all text uses normal casing */
* {
  text-transform: none !important;
}
