body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rotate-left {
  transform: scaleX(-1);
}
