body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 16px;
  min-width: 380px;
}

.rotate-left {
  transform: scaleX(-1);
}
