body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 16px;
}

.rotate-left {
  transform: scaleX(-1);
}
